body {
    background-color: teal;
    color: #7FDBFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #DDDDDD;
    color: #001f3f;
}

#showHS {
    position: relative;
}

#timer {
    position: relative;
    display: flex;
    padding: 5px;
}

#text {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

#startGame {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}